.accounts_view_container {
    -fx-background-color: #EEEEEE;
}

.list-view{
    -fx-background-radius: 50 0 50 0;
    -fx-border-width: 5;
    -fx-border-color: #023047;
    -fx-border-radius: 50 0 50 0;
    -fx-padding: 15;
    -fx-font-size: 13;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
}

.pane {
    -fx-border-width: 3;
    -fx-border-color: linear-gradient(to right, #f4a261, #e9c46a);
    /*-fx-border-color: linear-gradient(to right, #b91515, #1934ad);*/
    -fx-border-radius: 10;
}

.Button {
    -fx-background-color: linear-gradient(to right, #f4a261, #e9c46a);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;
}

.Button:hover {
    -fx-cursor: hand;
}