.dashboard {
    -fx-background-color: #EEEEEE;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
}

.section_title {
    -fx-font-size: 1.7em;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

/* Accounts View Section */
.accounts_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
}

.account {
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10,0,0,10);
}

.account VBox {
    -fx-background-color: #FFFFFF;
}

.account Text {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.account_gradient {
    -fx-background-color: linear-gradient(to right, #f4a261, #e9c46a);
}

.account_balance {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.account_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}

/* Transaction View */
.transaction_listview {
    /*-fx-background-color: #EEEEEE;*/
    -fx-padding: 10;
    -fx-font-size: 13;
    -fx-border-color: #1d3557;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-background-radius: 10;
}


/*.list_cell {*/
/*    -fx-background-color: #EEEEEE;*/
/*    -fx-padding: 15 0 15 0;*/
/*}*/


.send_money {
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-border-color: #1d3557;
}

.send_money Button {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right, #f4a261, #e9c46a);
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}