.Button {
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.Button:hover {
    -fx-cursor: hand;
}

.bg_image {
    -fx-background-image: url("bank2.png");
    -fx-background-size: 100% 100%;
    /*-fx-background-color: #eaf4f4;*/
}